/* You can add global styles to this file, and also import other style files */
@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@font-face {
  font-family: 'Pixelify_Sans';
  src: url('./assets/fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-pixelify-sans: 'Pixelify_Sans', sans-serif;

  --color-fi-main: #FDB812;
}


html {
  @apply font-pixelify-sans;
}

body {
  @apply p-0 m-0;
}